@import "tailwindcss";

@import "leaflet/dist/leaflet.css";

.leaflet-container {
    border-radius: 1rem;
}

.custom-flag-marker {
    background: transparent !important;
    border: none !important;
}

.leaflet-popup-content-wrapper {
    border-radius: 8px !important;
}

.leaflet-popup-content {
    margin: 12px !important;
    line-height: 1.4 !important;
}
